* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font: 400 16px Lato, sans-serif;
	color: #1a0000;
}

/** Navigation Bar **/
.navbar {
	margin-bottom: 0;
	background-color: #ff5c33;
	border: 0;
	font-size: 14px !important;
	line-height: 1.3 !important;
	letter-spacing: 3px;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #ff5c33 !important;
	background-color: #fff !important;
}
/** End nav bar **/


/** Jumbotron **/
.jumbotron {
	margin-top: 30px;
	background-color: #ff5c33;
	color: #fff;
}

.jumbotron h2 {
	padding-bottom: 20px;
}

.jumbotron p {
	padding-top: 20px;
}

.jumbotron img {
	display: inline;
}
/** End jumbotron **/

/** About */
#about {
	padding: 20px 20px 0 20px;
}

#about .row {
	padding: 30px 30px 0 30px;
}

#about .row span {
	margin-top: 30px;
	font-size:200px;
	color:#ff5c33;
}

#about .row p {
	margin-top: 40px;
	margin-bottom: 30px;
	color: gray;
}

ul.address {
	padding-left: 0px;
	margin-top: 2em;
	border-top: 1px solid #ADADAD;
	padding-top: 0.5em;
}

ul.address li { display: block; }

ul.address li ul.address-text li {
	display: inline-block;
	font-size: 1.2em;
	margin-top: 1em;
	font-weight: 100;
}

ul.address li ul.address-text li:nth-child(1) { width: 30%; }

ul.address li ul.address-text li a {
	text-decoration:none;
}

.btn:hover, .btn:focus {
	background-color: #ff5c33;
	color: #fff;
}
/** End About **/

/** Activities **/
div#activities {
	padding-top: 3em;
	margin-bottom: 50px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #ff5c33;
}

.carousel-indicators li {
    border-color: #ff5c33;
}

.carousel-indicators li.active {
    background-color: #ff5c33;
}

.item h3 {
	font-weight: bold;
}
/** End Activities **/

/** Education **/
#education {
	padding: 3em 0 0 0;
}
#education h2 {
	border-bottom: 4px double rgba(255, 92, 51, 0.5);
	padding-bottom: 10px;
	margin-bottom: 35px;
}
.edu-left {
	text-align: right;
	padding: 3em 5em 0 0;	
}
.edu-right {
	border-left: 1px solid #999;
	padding: 2.5em 0 2em 6em;
}
.entry p {
	margin: 0;
}
.entry h3 {
	font-size: 1.2em;
	background: #ff5c33;
	display: inline-block;
	padding: .6em 1.2em;
	color: white;
	position: relative;
}
.entry h3:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent rgb(255, 92, 51);
}
.entry h4 {
	font-size: 1.3em;
	margin-bottom: .5em;
	border: 1px solid rgb(255, 92, 51);
	display: inline-block;
	padding: 0 1.2em;
}
.entry h4 span.glyphicon {
	font-size: 0.9em;
	color: white;
	background: #ff5c33;
	padding: 1em;
	/*-webkit-border-radius: 70%;
    -moz-border-radius: 70%;*/
	border-radius: 70%;
	/*-webkit-transition: .5s all;
    -moz-transition: .5s all;*/
	transition: .5s all;
	/*-webkit-transform: scale(1);
    -moz-transform: scale(1);*/
	transform: scale(1);
	/*-o-transform: scale(1);
    -ms-transform: scale(1);*/
}
.edu-right h4 span.glyphicon {
	margin-right: 5em;
    margin-left: -8em;
}
.edu-left.edu-left2 h4 span.glyphicon {
	margin-left: 4em;
    margin-right: -7.3em;
    z-index: 9;
}
.edu-right.edu-right2 {
	min-height: 210px;
	float: right;
}
.edu-right.edu-right2 h3:before {
	left: -14px;
	/*-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);*/
    transform: rotate(180deg);
	/*-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);*/
}
.edu-right.edu-right2 h3 {
	margin-top: 1.2em;
}
.entry:hover h4 span.glyphicon {
	color: white;
	/*-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);*/
    transform: scale(1.2);
	/*-o-transform: scale(1.2);
	-ms-transform: scale(1.2);*/
}
/** End education **/

/** Skills **/
#skills {
	padding-top: 5em;
}
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
/** End skills **/

/** Contact **/
#contact {
	padding-top: 3em;
	padding-bottom: 4em;
	background-color: #ff5c33;
	width: 100%;
	color: white;
}
#contact h2 {
	padding-bottom: 0.8em;
	margin-bottom: 1em;
	border-bottom: 4px double white;
}
#contact .row iframe {
	min-height: 32em;
}
#contact .row > .col-sm-6 {
	margin-bottom: 20px;
}
.contact-form input[type="text"] {
	width: 47.5%;
	color: white;
	background: none;
	outline: none;
	font-size: 1em;
	padding: .8em 1em;
	border: 1px solid white;
	display: inline-block;
}
.contact-form input[type="text"].email {
	margin: 3em 0 1em 1.5em;
}
.contact-form input[type="text"].phone {
	width: 100%;
	margin-bottom: 1em;
}
.contact-form textarea {
	width: 100%;
	color: white;
	background: none;
	outline: none;
	font-size: 1em;
	padding: .8em 1em;
	border: 1px solid white;
	min-height: 10em;
}
.contact-form input[type="submit"] {
	outline: none;
    color: white;
    font-weight: bold;
    padding: 0.6em 1em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    background: #ff5c33;
    border: 2px solid white;
    width: 100%;
}
.contact-form input[type="submit"]:hover {
	background-color: white;
	color: #ff5c33;
}
::-webkit-input-placeholder {
	color:#fff !important;
}
/** End contact **/

/** media queries - md **/
@media(max-width: 1200px) {
	.jumbotron img {
		width: 30%;
	}
	.entry h3 {
		margin-top: 12px;
	}
	.contact-form input[type="text"] {
		width: 47%;
	}
}

/** media queries - sm **/
@media(max-width: 991px) {
	.jumbotron img {
		width: 40%;
	}
	.edu-left {
		padding: 2em 4em 0 0.5em;
		float: left;
		width: 50%;
	}
	.edu-right {
		padding: 2em 1.5em 0 4em;
		float: right;
		width: 50%;
	}
	.edu-right h4 span.glyphicon {
		margin-right: 3.5em;
    	margin-left: -7.1em;
	}
	.entry h3 {
		font-size: 1em;
		margin-top: 15px;
	}
	.entry h4 {
		font-size: 1em;
		padding: 0 1em;
	}
	.edu-left2 h4 span.glyphicon {
		margin-left: 4.5em;
		margin-right: -20.4em;
	}
	.edu-right.edu-right2 {
		min-height: 220px;
	}
	.contact-form input[type="text"] {
		width: 46%;
	}
}

/** media queries - xs **/
@media(max-width: 768px) {
	#about {
		padding: 20px 20px;
	}
	#about .row {
		padding: 10px 10px;
	}
	#about .row .col-sm-8 {
		padding: 5px 5px;
	}
	ul.address li ul.address-text li:nth-child(1) { width: 40%; }

	.jumbotron img {
		width: 45%;
	}
	.jumbotron {
		margin-bottom: 0;
	}
	#about .row h2 {
		margin-top: 0;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		width: 100%;
		margin: auto;
	}
	#contact .row iframe {
		min-height: 25em;
	}
	.contact-form input[type="text"] {
		width: 47.5%;
	}
}

.footer {
	background-color: #ff704d;
	padding: 20px 0 20px 0;
}
.footer p {
	font-size: 20px;
	color: white;
}

/** special media queries for responsive design**/
@media(max-width: 640px) {
	.edu-right.edu-right2 {
		min-height: 300px;
	}
	.contact-form input[type="text"] {
		width: 46.5%;
	}
}

@media(max-width: 480px) {
	.entry h3 {
		font-size: 0.8em;
		margin-top: 12px;
	}	
}

@media(max-width: 440px) {
	#education h2 {
		margin-bottom: 10px;
	}
	.edu-left {
		width: 100%;
		text-align: left;
		padding: 1em 0 0 0;
	}
	.edu-right {
		padding: 1em 0 0.5em 2em;
		width: 95%;
		border: none;
	}
	.edu-right h4 span.glyphicon {
		margin-right: 1em;
		margin-left: -4.5em;
	}
	.edu-left.edu-left2 h4 span.glyphicon {
		margin-left: 2em;
		margin-right: -10em;
	}
	.edu-right.edu-right2 {
		min-height: inherit;
		padding: 0;
	}
}